.card {
  width: 400px;
  height: auto;
}

mat-card-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}